*{
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(25,45,50,0.45),rgba(25,45,50,0.45)), url(b.jpg);
	background-position: center;
	background-size: cover;
}
ul li a{
	text-decoration: none;
	color: black;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5 ease;
}

{
	margin:0px;
	padding: 0px 
}

header{
	height: 100vh;
	background-size: cover;
	background-position: center;
	min-height: 100px;
}

ul{
	float: left;
	list-style-type: none;
	margin-top: 30px;
	min-height: 400px;
	margin-right: 60px;
	font-size: 17px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5 ease;
}

ul li a:hover{
	background-color: orange;
	color: white;
}
.form-box{
	position: relative;
	width: 400px;
	height: 500px;
	background: transparent;
	border: 3px solid rgba(255,255,0.85);
	border-radius: 30px;
	background: blur(15px);
	display: flex;
	justify-content: center;
	align-items: center;
}

h2{
	font-size: 2em;
	color: #fff;
	text-align: center;
}

.innputbox{
	position: 200vh;
	margin: 30px 0;
	width: 310px;
	border-bottom: 2px solid #fff;
	border
}

.inputbox label{
	position: 80vh;
	top: 50%
	left: 8px;
	transform: translateY(-50%);
	color: #fff;
	font-size: 1em;
	pointer-events: none;
}

input:focus ~ label,
input:valid ~ :label{
	top: -5px;
}

.inputbox input {
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	padding: 0 35px 0 5px;
	color: #fff;
}

.inputbox ion-icon{
	position: right;
	right: 8px;
	color: #fff;
	font-size: 1.2em;
	top: 20px;
}

.forget{
	margin: 0px 8 15px;
	font-size: .8em;
	color: #fff;
	display: flex;
	justify-content: center;
}

.forget label input{
	margin-right: 4px;
}

.forget label a{
	color: #fff;
	text-decoration: underline;
}

.forget label a:hover{
	text-decoration: underline;
}

button{
	width: 100%;
	height: 40px;
	border-radius: 30px;
	background: orange;
	border: 1px solid;
	border-radius: 35px;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 800;
}

.register{
	font-size: .9em;
	color: #fff;
	text-align: center;
	margin: 25px 0 10px;
}
